# Ignore virtual environment and cache to prevent Git from freezing on 50,000+ package files
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Ignore heavy datasets & model weights
data/
saved_model/
*.pth
*.h5
*.pt
*.log
*.zip
*.tar
*.gz
scratch/
temp.txt
docs/lvt.md
docs/qa_cac_thanh_vien_khac.md
build/
dist/
*.spec
